//==========================================================================
//   HEADINGS
//==========================================================================

	//
	// All heading styles to go in here. Remember to comment all relevant information.
	//

	// Styles all headings to be reset to a neutral state.
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		font-weight: $weight-normal; 
		margin: 0; 
		line-height: $line-height-tighter; 
	}

	// Styles headers
	h1,
	.h1 {
		font-size: $size-h1; 
		margin: 0 0 $spacing 0; 
	}

	h2,
	.h2 {
		font-size: $size-h2; 
		margin: 0 0 $spacing 0; 
	}

	h3,
	.h3 {
		font-size: $size-h3; 
		margin: 0 0 $spacing 0; 
	}

	h4,
	.h4 {
		font-size: $size-h4; 
		margin: 0 0 $spacing/2 0; 
	}

	h5,
	.h5 {
		font-size: $size-h5; 
		margin: 0 0 $spacing/2 0; 
	}

	h6,
	.h6 {
		font-size: $size-h6; 
		margin: 0 0 $spacing/2 0; 
	}