//==========================================================================
//   INPUTS
//==========================================================================

	label,
	.form__label {
		display: block;
		width: 100%; 	
		line-height: 1; 
		margin-bottom: $spacing/2; 
		line-height: $line-height-base; 
		cursor: pointer; 
		@include prefix(box-sizing, border-box); 
		
		+ label {
			margin: 0; 
			padding: $spacing/2 0; 
		}
	}
	
		.form__label--full {
			width: 100% !important; 
			text-align: left !important; 
		}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	input[type="number"],
	input[type="url"],
	textarea {
		padding: $spacing/2; 
		border: 1px solid $colour-grey; 
		width: 100%; 
		@include prefix(box-sizing, border-box); 
		
		&:focus {
			outline: none; 
			background: $colour-white; 
			@include prefix(transition, all $animation-time $easing); 
		}
		
		@media all and (min-width: $palm-start) {
			.form__question--large-input & {
				width: 75% !important; 
			}
		}
	}

	input[type="file"] {
		padding: $spacing 0; 
		@include prefix(box-sizing, border-box); 
	}

	input[type="checkbox"],
	input[type="radio"] {
		margin: 0 $spacing/3 0 0; 
	}

	textarea {
		height: 200px; 
	}

	select {
		width: 100%; 
		padding: $spacing; 
		border-radius: none !important; 
		border: none; 
		padding: $spacing/2;
		line-height: 1;
		-webkit-appearance: menulist-button;
	}

	input[type="button"],
	input[type="submit"] {
		border: 0px; 
	}
	
	
// Hides number spinners
	
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
	
// Mods 

.form__input--short-number {
	max-width: 100px; 
}
