//==========================================================================
//   FORMS
//==========================================================================

	form,
	.form {
		padding: 0;
		margin: 0; 
		
		ol {
			list-style: none; 
			margin: 0; 
			padding: 0; 
		}
		
		li,
		.form__question {
			margin: 0; 
			padding: 0; 
			margin-bottom: $spacing; 
			position: relative; 
		}
		
		
		@media all and (max-width: 600px) {
			thead {
				display: none; 
			}
			
			tr {
				border-bottom: 1px solid $colour-grey; 
			}
			
			td {
				display: block;
				width: 100%;
				margin: 0; 
				border-bottom: none; 
				
				label {
					visibility: visible !important; 
					width: auto;
					height: auto; 
					font-size: $size-base;
					position: relative;
					top: auto;
					left: auto; 
				}
			}
		}
	}

		fieldset {
			padding: 0;
			margin: 0; 
			border: 0; 
			
			+ fieldset {
				margin-top: $spacing*2; 
			}
		}
		
			legend,
			.legend {
				@extend .h2; 
			}

		.form__progress {
			margin: 0 0 $spacing auto; 
		}
		
			.bar {
				height: $spacing; 
				width: 100%;
				background: $colour-grey;
				overflow: hidden; 
			}
			
				.bar__progress {
					background: $colour-primary; 
					position: relative;
					display: block; 
					height: $spacing; 
					
					&:after {
						left: 100%;
						top: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(136, 183, 213, 0);
						border-left-color: $colour-primary;
						border-width: $spacing;
						margin-top: -$spacing;
					}
				}

@media all and (min-width: 600px) {
	.form--inline {	
		
		li,
		.form__question {
			overflow: auto; 
		}
		
		label,
		.label {
			width: 35%; 
			float: left; 
			text-align: right;
			margin: 0; 
			padding: $spacing; 
			
			+label {
				float: right; 
				width: 65%;
				padding: $spacing/2 0; 
				text-align: left; 
			}
		}
		
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="tel"],
		input[type="number"],
		input[type="url"],
		input[type="search"],
		textarea,
		select {
			width: 65%;
			float: right;
		
			+ button,
			+ .button,
			+ input[type="button"] {
				bottom: auto;
				top: 0; 
			}	
		}
		
		input[type="submit"] {
			margin-left: 35%; 
		}
	}
}