//==========================================================================
//   VARIABLES
//==========================================================================

	//
	// Define all your global variables here. Remember to comment all relevant information e.g. "Only to be used for tranactional messages".
	// 

	// Brand colours
	$colour-brand: #d16b54; 

	// Heirarchy colours
	$colour-primary: $colour-brand;
	$colour-secondary: #433447;
	$colour-special: #63aa92;

	// Base colours
	$colour-black: #272727;
	$colour-white: #FFFFFF;
	$colour-grey: #b8b8b8;
		
	// Interaction colours
	$colour-link: $colour-primary;
	$colour-failure: #ae3d3f;
	$colour-alert: #e8c95d;
	$colour-success: #52954e;

	// Layout
	$page-width: 1200px;
	$gutter-width: 20px;
	$spacing: $gutter-width; 

	// Breakpoints
	$palm-start: 400px; 
	$lap-start:  720px;
	$desk-start: 1000px;

	// Timing
	$animation-time: 0.2s;
	$easing: ease-in-out;

	// Positioning
	$zindex-super: 9999;
	$zindex-higher: 20;
	$zindex-high: 10;
	$zindex-mid: 5;
	$zindex-low: 2;
	
	// Misc
	$border-radius: 4px; 
	$border-weight: 2px; 
	$box-shadow: 0 0 15px rgba(0,0,0,0.3);


	//Note: Typography variables are set in /typography/_base.scss